:root {
  --theme-dialog-big-button-background-color: rgba(255, 255, 255, 0.05);
  --theme-dialog-big-button-border-color: none;
  --theme-icon-add-wallet-dialog-big-button-color: #fff;
  --theme-dialog-big-button-label-color: rgba(255, 255, 255, 1);
  --font-medium: NotoSans-Medium, NotoSansCJKjp-Medium;
  --theme-dialog-big-button-description-color: rgba(255, 255, 255, 0.6);
  --font-regular: NotoSans-Regular, NotoSansCJKjp-Regular;
}
